* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header . . . . . . . ."
    "Family Family Family Family Family Family Quote Quote Quote"
    "Family Family Family Family Family Family Quote Quote Quote"
    "Family Family Family Family Family Family Quote Quote Quote"
    "About About About About About About About About About"
    "About About About About About About About About About"
    "About About About About About About About About About";
}

.container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 
  ". Hailey Hailey ALex Alex Luke Luke ."
  ". . Phil Phil Claire Claire . ."
  ". . . Watch Watch . . ."
}

.Family {
  grid-area: Family;
  margin-top: 5%;
}

.Family img {

  display: block;
  margin: auto;
  border-radius: 3%;
}

.About {
  grid-area: About;
  background-color: #2F2D2E;
  color: white;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 3%;
  padding-right: 3%;
  line-height: 120%;
  font-size: 2vw;
}

.Family-Quote {

  grid-area: Quote;
  margin: auto;
  font-size: 3.2vw;
  padding-right: 10%;
  text-align: center;
}

.Header {
  grid-area: Header;
}

.Header img {
  padding-left: 5%;
  padding-top: 5%;

}


.Phil{
  grid-area: Phil;
}

.Claire{
  grid-area: Claire;
}

.Hailey{
  grid-area: Hailey;
}

.Alex{
  grid-area: Alex;
}

.Luke{
  grid-area: Luke;
}


.person img {
  border-radius: 10%;
}

.person p {
  text-align: center;
  margin-top: 1%;
}


.Watch {
  grid-area: Watch;

  font-size: 2vw;
  background-color: coral;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 35px;
  align-self: center;
  justify-self: center;

}

#watch_link {
  color: black;
  margin: auto;

}


@media only screen and (min-width:801px) {

  .container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header . . . . . . . ."
      "Family Family Family Family Family Family Quote Quote Quote"
      "Family Family Family Family Family Family Quote Quote Quote"
      "Family Family Family Family Family Family Quote Quote Quote"
      "About About About About About About About About About"
      "About About About About About About About About About"
      "About About About About About About About About About"
      "Family-members Family-members Family-members Family-members Family-members Family-members Family-members Family-members Family-members"
      "Family-members Family-members Family-members Family-members Family-members Family-members Family-members Family-members Family-members"
      ". . . Watch Watch Watch . . .";
  }

  .container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    ". Hailey Hailey ALex Alex Luke Luke ."
    ". . Phil Phil Claire Claire . ."
    ". . . Watch Watch . . ."
  }
  
  .Family {
    grid-area: Family;
    margin-top: 5%;
  }

  .Family img {

    display: block;
    margin: auto;
    border-radius: 3%;
  }

  .About {
    grid-area: About;
    background-color: #2F2D2E;
    color: white;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 120%;
    font-size: 2vw;
  }

  .Family-Quote {

    grid-area: Quote;
    margin: auto;
    font-size: 3.2vw;
    padding-right: 10%;
    text-align: center;
  }

  .Header {
    grid-area: Header;
  }

  .Header img {
    padding-left: 5%;
    padding-top: 5%;

  }

  .Family-members {
    grid-area: Family-members;
    display: flex;
  }

  .person {
    flex: 20%;
    padding: 1%;
  }

  .person img {
    border-radius: 10%;
  }

  .person p {
    text-align: center;
    margin-top: 1%;
  }


  .Watch {
    grid-area: Watch;

    font-size: 2vw;
    background-color: coral;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 35px;
    align-self: center;
    justify-self: center;

  }

  #watch_link {
    color: black;
    margin: auto;

  }
}