.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1.1fr 1.1fr 1.1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header Header Header Header Header Header Header"
      "Family Family Family Family Family Family Quote Quote Quote"
      "Family Family Family Family Family Family Quote Quote Quote"
      "Family Family Family Family Family Family Quote Quote Quote"
      "About About About About About About About About About"
      "About About About About About About About About About"
      "About About About About About About About About About"
      "Family-members Family-members Family-members Family-members Family-members Family-members Family-members Family-members Family-members"
      "Family-members Family-members Family-members Family-members Family-members Family-members Family-members Family-members Family-members"
      ". . . Watch Watch Watch . . .";
  }
  
  .Family { grid-area: Family; }
  
  .About { grid-area: About; }
  
  .Quote { grid-area: Quote; }
  
  .Header { grid-area: Header; }
  
  .Family-members { grid-area: Family-members; }
  
  .Watch { grid-area: Watch; }
  
  