* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 175%;
    letter-spacing: 1.5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 500px auto auto auto auto ;
    gap: 0px 0px;
}

.home {
    grid-area: 1 / 1 / 2 / 2;
}

.home img {
    padding-left: 15%;
    padding-top: 15%;
    width: 50px;
  }

.logo{
    grid-area: 1 /8 /2 /13 ;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo img {
    width: 120%;
    padding-top: 3%;
    padding-right: 3%;
  }

.video {
    grid-area: 2 / 1 / 3 / 13;
    padding-top: 5%;
    padding-bottom: 5%;
}

.video iframe {
    margin-left: 5%;
   
width: 90%;
height: 95%;
}

.heading {
    grid-area: 3 / 2 / 4 / 12;
    background-color: coral;
    color: white;
    border-radius: 50px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.disney {
    grid-area: 4 / 2 / 5 / 12;
    background-color: rgb(44, 43, 43);
    box-shadow: 5px 5px 10px 2px rgba(102, 99, 99, 0.8);
    margin-top: 3%;
    border-radius: 50px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;

}

.disney a {
    font-size: 1.7rem;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}





.nowTV {
    grid-area: 5 / 2 / 6 / 12;
    background-color: rgb(44, 43, 43);
    box-shadow: 5px 5px 10px 2px rgba(102, 99, 99, 0.8);
    margin-top: 3%;
    border-radius: 50px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;

}

.nowTV a {
    font-size: 1.7rem;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.channel4 {
    grid-area: 6 / 2 / 7 / 12;
    background-color: rgb(44, 43, 43);
    box-shadow: 5px 5px 10px 2px rgba(102, 99, 99, 0.8);
    margin-top: 3%;
    border-radius: 50px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.channel4 a {
    font-size: 1.7rem;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (min-width:801px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        gap: 0px 0px;
    }

    .logo{
        grid-area: 1 /7 /2 /9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo img {
        width: 100%;
        padding-top: 3%;
        padding-right: 3%;
      }

    .video {
        grid-area: 2 / 1 / 6 / 6;
    }

    .video iframe {
        width: 90%;
        height: 175%;
    }

.heading{
    grid-area: 2 / 6 / 3 / 9;
    margin-top: 15%;
}

.disney{
    grid-area: 3 / 6 / 4 / 9;
}

.disney a{
    padding-top: 4%;
}

.nowTV{
    grid-area: 4 / 6 / 5 / 9; 
}

.nowTV a{
    padding-top: 4%;
}

.channel4{
    grid-area: 7 / 6 / 8/ 9;
}

.channel4 a{
    padding-top: 4%;
}




}
@media only screen and (min-width:1281px) {
    
  
    
      .logo img {
        width: 100%;
        padding-top: 3%;
        padding-right: 3%;
      }

.home img{
width: 25%;
}

.heading{
    margin-top: 25%;
    font-size: 1.3rem;

}

.video{
    margin-top: 5%;
}

.video iframe{
    height: 170%;
}

.disney a{
    font-size: 2rem;

}

.nowTV a{
    font-size: 2rem;

}



.channel4 a{
    font-size: 2rem;

}



}